CHAT_BASE_URL=http://localhost:1234/v1
CHAT_API_KEY=none
CHAT_MODEL_NAME=qwen/qwen3-1.7b

EMBEDDING_BASE_URL=http://localhost:1234/v1
EMBEDDING_API_KEY=none
EMBEDDING_MODEL_NAME=text-embedding-qwen3-embedding-0.6b

RERANK_BASE_URL=
RERANK_API_KEY=
RERANK_MODEL_NAME=